/* CSS Document */
.postIT{
	position: absolute; /* ตัวที่ใช้แปะ */
	background: rgba(255,250,0,0.8);
	padding: 8px;
	border-radius: 6px;
}
#board{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	border-radius: 6px;
	position: relative; /* ระบุให้เป็นพื้น ที่ใช้ในการยึดเกาะ */
}
#post1{
	top: 59px;
	left: 80px;
	z-index: 1;
}
#post2{
	top: 151px;
	right: 124px;
	z-index: 2;
	width: 150px;
}
